extends ../../layout/uikit-base/uikit-base
include ../../includes/input-field/input-field

block title
  title Form Elements

block content
  .form-elements__wrapper
    .form-elements__block
      .form-elements__element(class="form-elements__element--min-margin")
        +input({
          title: "Text Field",
          type: "email",
          name: "email",
          placeholder: "Email"
        })
      .form-elements__element(class="form-elements__element--min-margin")
        +input({
          title: "Text Field",
          type: "text",
          name: "awesome",
          placeholder: "placeholder",
          value: "This is pretty awesome"
        })
      .form-elements__element
        +input({
          title: "masked text field",
          type: "text",
          name: "maskedDate",
          placeholder: "ДД.ММ.ГГГГ",
          pattern: "[0-9]{2}.[0-9]{2}.[0-9]{4}"
        })

