@import '../../../assets/scss/var.scss';

.form-elements {
  &__title {
    margin: 0 0 5px;

    font-family: $main-font;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;
    color: $heading;

    &--margin-large {
      margin-bottom: 16px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 100px;
  }

  &__element {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 40px;
    }

    &--min-margin:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &--margin:not(:last-of-type) {
      margin-bottom: 40px;
    }

    &__title {
      margin: 0 0 16px;

      font-weight: bold;
      font-size: 12px;
      line-height: 1.25;
      text-transform: uppercase;
      color: $heading;
    }

    &--date {
      width: 150px;
    }

    &--filter-date,
    --subscription,
    --dropdown-min,
    --checkbox-expand {
      width: 266px;
    }

    &--rate {
      display: flex;
      flex-wrap: wrap;

      & .rate:not(:last-of-type) {
        margin-right: 20px;
      }
    }

    &__button-block {
      display: flex;

      &:not(:last-of-type) {
        margin-bottom: 30px;
      }

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }

    &--bullet {
      width: 240px;
    }
  }

  &__likes {
    display: flex;
    gap: 10px;
  }

  &__rating {
    display: flex;
    gap: 20px;
  }

  &__buttons-block {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    :not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
