extends ../../layout/uikit-base/uikit-base
include ../../includes/input-field/input-field
include ../../includes/dropdown/dropdown
include ../../includes/checkbox/checkbox

block title
  title Form Elements

block content
  .form-elements__wrapper
    .form-elements__block
      .form-elements__element(class="form-elements__element--min-margin")
        +input({
          title: "Text Field",
          type: "email",
          name: "email",
          placeholder: "Email"
        })
      .form-elements__element(class="form-elements__element--min-margin")
        +input({
          title: "Text Field",
          type: "text",
          name: "awesome",
          placeholder: "placeholder",
          value: "This is pretty awesome"
        })
      .form-elements__element(class="form-elements__element--min-margin")
        +dropdown({
          title: "Dropdown",
          label: "Сколько гостей",
          elements: [
            {label: "Взрослые", name: "adult", min: "0", max: "10"},
            {label: "Дети", name: "children", min: "0"},
            {label: "Младенцы", name: "baby", min: "0"}
          ]
        })
      .form-elements__element
        +input({
          title: "masked text field",
          type: "text",
          name: "maskedDate",
          placeholder: "ДД.ММ.ГГГГ",
          pattern: "[0-9]{2}.[0-9]{2}.[0-9]{4}"
        })
    .form-elements__block
      .form-elements__element
        +checkbox({
          title: "Checkbox buttons",
          name: "options",
          elements: [
            {label: "Можно курить", id: "checkSmoking", value: "isSmoking", checked: false},
            {label: "Можно с питомцами", id: "checkAnimals", value: "isAnimals", checked: "true"},
            {label: "Можно пригласить гостей (до 10 человек)", id: "checkGuests", value: "isGuests", checked: "true"}
          ]
        })
