@import '../../../assets/scss/var.scss';

.form-elements {
  &__title {
    margin: 0 0 5px;

    font-family: $main-font;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $heading;

    &--margin-large {
      margin-bottom: 17px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 320px 320px 320px;
    justify-content: space-between;
    gap: 20px;
    max-width: $content-pc;
    padding: 0 40px;
    margin: 0 auto;

    &:not(:last-of-type) {
      margin-bottom: 100px;
    }
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;

    &:nth-of-type(2) {
      margin-left: 27px;
    }

    &--comments {
      grid-column: 2 / 4;
    }
  }

  &__element {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 43px;
    }

    &--min-margin:not(:last-of-type) {
      margin-bottom: 22px;
    }

    &--margin:not(:last-of-type) {
      margin-bottom: 42px;
    }

    &--checkbox:not(:last-of-type) {
      margin-bottom: 33px;
    }

    &--slider:not(:last-of-type) {
      margin-bottom: 29px;
    }

    &__title {
      margin: 0 0 16px;

      font-weight: bold;
      font-size: 12px;
      line-height: 1.25;
      text-transform: uppercase;
      color: $heading;
    }

    &--date {
      width: 150px;
    }

    &--filter-date,
    --subscription,
    --dropdown-min,
    --checkbox-expand {
      width: 266px;
    }

    &--rate {
      display: flex;
      flex-wrap: wrap;

      & .rate:not(:last-of-type) {
        margin-right: 20px;
      }
    }

    &__button-block {
      display: flex;

      &:not(:last-of-type) {
        margin-bottom: 30px;
      }

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }

    &--bullet {
      width: 240px;
    }

    &--narrow {
      width: 266px;
    }

    &--pre-narrow {
      width: 280px;
    }
  }

  &__likes {
    display: flex;
    gap: 10px;
  }

  &__rating {
    display: flex;
    gap: 20px;
  }

  &__buttons-block {
    display: flex;
    align-items: flex-start;
    gap: 20px;

    &--simple {
      gap: 15px;
    }

    &:not(:last-of-type) {
      margin-bottom: 29px;
    }
  }

  &__slider {
    width: 266px;
  }
}
