@import 'var.scss';

.display-none {
  display: none !important;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

html {
  font-family: $main-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: $main-text;
}

.content {
  padding: 145px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: bold;
  color: $heading;
}

input {
  font-family: inherit;
  color: inherit;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}
