// Colors

$dark-shade-100: #1F2041;
$dark-shade-75: rgba(31, 32, 65, 0.75);
$dark-shade-50: rgba(31, 32, 65, 0.5);
$dark-shade-25: rgba(31, 32, 65, 0.25);
$dark-shade-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$purple-40: #BC9CFF4d;
$purple-light: #8BA4F9;
$purple-light-40: #8BA4F94D;
$light-blue: #66D2EA;
$green: #6FCF97;
$white: #FFFFFF;

$main-text: $dark-shade-75;
$heading: $dark-shade-100;
$button-text: $dark-shade-50;
$button-text-hover: $dark-shade-75;
$button-text-checked: $dark-shade-75;
$button-border-hover: $purple;
$button-border-checked: $purple;
$border: $dark-shade-25;
$border-active: $dark-shade-50;
$placeholder: $dark-shade-25;
$input-number: $dark-shade-100;
$button-light: $purple;
$button-like-checked: $purple;
$button-like-fill: $white;
$button-like-text: $dark-shade-25;

$border-color-calendar: $dark-shade-25;
$shadow-color-calendar: $dark-shade-5;
$calendar-day-name-color: $purple;
$calendar-day-prev-month-color: $dark-shade-25;
$calendar-day-color: $dark-shade-50;
$calendar-current-day-color: $white;

// Gradients

$gradient-main: linear-gradient(180deg, $purple 0%, $purple-light 100%);
$gradient-main-40: linear-gradient(180deg, $purple-40 0%, $purple-light-40 100%);
$gradient-second: linear-gradient(180deg, $green 0%, $light-blue 100%);
$gradient-opacity: linear-gradient(180deg, $green 0%, $light-blue 100%);

$gradient-like-button: $gradient-main;
$gradient-radio-button: $gradient-main;
$gradient-toggle-button: $gradient-main;
$gradient-slider: $gradient-second;
$gradient-datepicker-current: $gradient-second;
$gradient-datepicker-selected: $gradient-main;
$gradient-datepicker-focus: $gradient-main-40;

// Sizes

$body: 1440px;

// Fonts

$main-font: Montserrat, Tahoma, sans-serif;
$heading-font: OpenSans, Verdana, sans-serif;
