@import '../../../assets/scss/var.scss';

.comments {
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 13px 10px;
}

.comments__img {
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0px 10px 20px $avatar-shadow-color;
}

.comments__name {
  margin: 5px 0 0;
  letter-spacing: 0.4px;
  color: inherit;
}

.comments__time {
  display: block;
  margin: 8px 0 0;
}

.comments__comment {
  margin: 0;
  line-height: 1.7;
}

.comments__like {
  display: flex;
  justify-content: center;
}
