mixin drop-date()
  .drop-date
    .drop-date__block
      h3.drop-date__title= "Date dropdown"
      input(
        type= "text"
      )
    .drop-date__block
      h3.drop-date__title= "Date dropdown"
      input(
        type= "text"
      )
    .datepicker-here
