include ../color-element/color-element

mixin colors({values})
  ul.colors
    each val in values
      li.colors__element
        +color-element({
          title: val.title,
          color: val.color,
          mod: val.mod
        })
