mixin nav({items, currentPage})
  .nav
    ul.nav__list
      each item in items
        if currentPage == item.label
          - var mod= "nav__link--current"
        else
          - var mod= ""
        li.nav__li
          a.nav__link(
            class= mod
            href= item.href
          )= item.label
          if item.extend
            ul.nav__list--extend
              each itemEx in item.extend
                li.nav__li--extend
                  a.nav__link--extend(
                    href= itemEx.href
                  )= itemEx.label
