@import '../../../assets/scss/var.scss';

// Room preview

.room-preview {
  width: 270px;
  padding-bottom: 17px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

// Block

.room-preview__block {
  display: flex;
  justify-content: space-between;
  max-width: 233px;
  min-height: 34px;
  margin: 0 auto;
  align-items: flex-end;
}

// Link

.room-preview__link {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 233px;
  min-height: 34px;
  margin: 0 auto;
  border-bottom: 1px solid $cards-border-color;
  text-decoration: none;
}

// Number

.room-preview__number {
  font-size: 19px;
  font-weight: bold;
  color: $heading;

  &.-luxe-:after {
    content: 'люкс';
    margin-left: 10px;
    font-size: 12px;
    color: $room-luxe;
    text-transform: uppercase;
  }
}

// Number symbol

.room-preview__number-symbol {
  font-weight: bold;
  color: $heading;
}

// Comments

.room-preview__comments {
  margin-bottom: 6px;
  color: $light-text;
}

// Price

.room-preview__price {
  font-weight: bold;
  color: $light-text;
}

// Comments count

.room-preview__comments-count {
  font-weight: bold;
}

// Price description

.room-preview__price-descr {
  margin-left: 2px;
  font-size: 12px;
  color: $light-text;
}

@media (hover: hover) and (pointer: fine) {
  .room-preview__link:hover {
    opacity: 0.7;
  }
}
