@import '../../../assets/scss/var.scss';

.room-preview {
  width: 270px;
  padding-bottom: 17px;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &__slider {
    margin-bottom: 22px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    max-width: 233px;
    min-height: 34px;
    margin: 0 auto;
    align-items: flex-end;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 233px;
    min-height: 34px;
    margin: 0 auto;
    border-bottom: 1px solid $cards-border-color;
    text-decoration: none;

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        opacity: 0.7;
      }
    }
  }

  &__number {
    font-size: 19px;
    font-weight: bold;
    color: $heading;

    &--luxe:after {
      content: 'люкс';
      margin-left: 10px;
      font-size: 12px;
      color: $room-luxe;
      text-transform: uppercase;
    }
  }

  &__number-symbol {
    font-weight: bold;
    color: $heading;
  }

  &__comments {
    margin-bottom: 6px;
    color: $light-text;
  }

  &__price {
    font-weight: bold;
    color: $light-text;
  }

  &__comments-count {
    font-weight: bold;
  }

  &__price-descr {
    margin-left: 2px;
    font-size: 12px;
    color: $light-text;
  }
}
