@import '../../../assets/scss/var.scss';

.nav-footer {
  &__title {
    margin: 4px 0 22px 0;

    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__link {
    color: $light-text;
    text-decoration: none;
  }
}

/* Hover & Focus */

@media(hover: hover) and (pointer: fine) {
  .nav-footer__link:hover {
    opacity: 0.7;
  }
}

.nav-footer__link:focus {
  opacity: 0.7;
}
