@import '../../../assets/scss/var.scss';

// Title

.nav-footer__title {
  margin: 0 0 22px 0;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

// List

.nav-footer__list {
  display: grid;
  grid-auto-flow: row;
  gap: 22px;
  margin: 0;
  padding: 0;
  list-style: none;
}

// Link

.nav-footer__link {
  color: $light-text;
  text-decoration: none;
}

/* Hover & Focus */

@media (hover: hover) and (pointer: fine) {
  .nav-footer__link:hover {
    opacity: 0.7;
  }
}

.nav-footer__link:focus {
  opacity: 0.7;
}
