extends ../../layout/uikit-base/uikit-base

block title
  title Colors &amp; Type

block content
  .colors-type
    .colors-type__colors
      include ../../includes/colors/colors
    .colors-type__type
      include ../../includes/types/types
