mixin buttons ({link, type, label, styles= [], hovered})
  - var mod= []
  if styles.includes("fill")
    - mod.push("buttons--fill")
  if styles.includes("simple")
    - mod.push("buttons--simple")
  if styles.includes("large")
    - mod.push("buttons--large")
  if styles.includes("low")
    - mod.push("buttons--low")

  if hovered == "true"
    - var mod2 = "-hovered-"
  else
    - var mod2 = ""

  if type == "link"
    a(
      class= ["buttons", mod, mod2],
      href= link
    )
      span.buttons__span= label
  else
    button(
      class= ["buttons", mod, mod2],
      type= type
    )
      span.buttons__span= label
