@import '../../../assets/scss/var.scss';

.buttons {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 2px;
  margin: 0;
  min-width: 99px;
  min-height: 44px;

  border: none;
  border-radius: 22px;
  background-color: transparent;
  background-image: $gradient-main;
  background-origin: border-box;

  font-size: 12px;
  font-weight: bold;
  color: $button-text-main;
  text-transform: uppercase;

  cursor: pointer;

  & .buttons__span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 10px;

    border-radius: 22px;
  }

  &--fill {
    color: $button-text-fill;

    & .buttons__span {
      background-color: white;
      background-origin: border-box;
    }
  }
}
