mixin buttons ({link, type, label, modify= [], hovered, classes= []})
  - var mod= []
  if modify.includes("fill")
    - mod.push("buttons--fill")
  if modify.includes("simple")
    - mod.push("buttons--simple")
  if modify.includes("large")
    - mod.push("buttons--large")
  if modify.includes("low")
    - mod.push("buttons--low")

  if hovered == "true"
    - var mod2 = "-hovered-"
  else
    - var mod2 = ""

  if type == "link"
    a(
      class= ["buttons", mod, mod2, ...classes]
      href= link
    )
      span.buttons__span= label
  else
    button(
      class= ["buttons", mod, mod2, ...classes]
      type= type
    )
      span.buttons__span= label
