mixin buttons ({type, label, style})
  if style == "fill"
    - var mod= "buttons--fill"
  else if style == "simple"
    - var mod= "buttons--simple"
  else if style == "large"
    - var mod= "buttons--large"
  button(
    class= ["buttons", mod],
    type= type
  )= label