mixin buttons ({link, type, label, style, hovered})
  if style == "fill"
    - var mod= "buttons--fill"
  else if style == "simple"
    - var mod= "buttons--simple"
  else if style == "large"
    - var mod= "buttons--large"
  if hovered == "true"
    - var mod2 = "-hovered-"
  else
    - var mod2 = ""

  if type == "link"
    a(
      class= ["buttons", mod, mod2],
      href= link
    )
      span.buttons__span= label
  else
    button(
      class= ["buttons", mod, mod2],
      type= type
    )
      span.buttons__span= label
