@import '../../../assets/scss/var.scss';

.room-cards {
  border: 1px solid $cards-border-color;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0px 0px 25px $cards-shadow-color;

  &__form {
    max-width: 320px;
    margin: 40px auto 29px;

    @media (max-width: 340px) {
      margin-left: 9px;
      margin-right: 9px;
    }
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    position: relative;
    margin: 0 0 22px;
    padding: 0;
    font-size: 24px;
    line-height: 1.22;
    font-family: $main-font;

    &--luxe::after {
      content: 'люкс';
      display: inline-block;
      font-size: 12px;
      color: $room-luxe;
      text-transform: uppercase;
    }
  }

  &__price-block {
    margin: 0;
    color: $light-text;
  }

  &__price {
    margin-right: 1px;
    font-weight: bold;
  }

  &__price-text {
    font-size: 12px;
  }

  &__symbol {
    font-size: 14px;
  }

  &__calendar {
    margin-bottom: 22px;
  }

  &__guests {
    margin-bottom: 22px;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__calculation {
    margin-bottom: 18px;
  }

  &__td {
    margin: 0;
    padding: 0 0 16px;
    vertical-align: top;
    border: none;
    line-height: 1.2;

    &:last-of-type {
      width: 80px;
      text-align: right;
    }

    &--option {
      width: 20px;
    }

    &--info::after {
      content: 'i';
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border: 1px solid $border;
      border-radius: 50%;
      font-size: 12px;
      font-weight: bold;
      color: $border;
      cursor: pointer;
    }
  }

  &__total {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    margin-bottom: 21px;
  }

  &__total-dotted {
    margin-bottom: 4px;
    border-bottom: 1px dotted $border;
  }

  &__total-text,
  &__total-price {
    font-size: 19px;
    font-weight: bold;
    color: $heading;
  }
}
