@import '../../../assets/scss/var.scss';

.room-details {
  &__promo {
    margin-bottom: 70px;
  }

  &__main-wrapper {
    display: grid;
    grid-template-columns: auto 380px;
    justify-content: space-between;
    gap: 20px;
    max-width: $content-pc;
    padding: 0 40px;
    margin: 0 auto 73px;

    @media (max-width: 840px) {
      grid-template-columns: 100%;
      padding: 0 10px;
    }
  }

  &__reserve {
    max-width: 380px;

    @media (max-width: 840px) {
      width: 100%;
      order: -1;
      margin: 0 auto;
    }

    @media (max-width: 400px) {
      max-width: none;
    }
  }

  &__section-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    margin-bottom: 12px;

    @media (max-width: 1120px) {
      grid-template-columns: max-content;
      gap: 20px;
      margin-bottom: 35px;
    }
  }

  &__block-wrapper {
    max-width: 708px;
  }

  &__title {
    margin: 0 0 22px;
    font-size: 19px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    &--rules {
      margin-bottom: 18px;
    }

    &--bullet {
      margin-left: 20px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    min-width: 280px;
  }

  &__features {
    margin-top: 2px;
  }

  &__showing {
    min-width: 311px;
    margin-right: 36px;
  }

  &__comments-title-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__comments {
    margin-bottom: 34px;
  }

  &__comments-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__comments-li:not(:last-of-type) {
    margin-bottom: 22px;
  }

  &__comments-amount {
    margin: 8px 0 auto 15px;
    white-space: nowrap;
  }

  &__additional {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;

    @media (max-width: 1120px) {
      grid-template-columns: max-content;
      gap: 30px;
    }
  }

  &__rules-wrapper {
    max-width: 292px;
  }

  &__cancellation-wrapper {
    max-width: 347px;
  }

  &__cancellation {
    margin: 0 10px 0 0;
    line-height: 1.75;
  }
}
