@import '../../../assets/scss/var.scss';

.room-details {
  &__promo {
    margin-bottom: 70px;
  }

  &__main-wrapper {
    display: grid;
    grid-template-columns: 1fr 380px;
    gap: 70px;
    max-width: $content-pc;
    padding: 0 40px;
    margin: 0 auto 71px;
  }

  &__section-wrapper {
    display: grid;
    grid-template-columns: 280px 311px;
    gap: 81px;
    margin-bottom: 12px;
  }

  &__title {
    margin: 0 0 22px;

    font-size: 19px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    &--rules {
      margin-bottom: 20px;
    }

    &--bullet {
      margin-left: 20px;
    }
  }

  &__comments-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__comments {
    margin-bottom: 34px;
  }

  &__comments-list {
    padding: 0;
    margin: 0;

    list-style: none;
  }

  &__comments-li:not(:last-of-type) {
    margin-bottom: 22px;
  }

  &__rules {
    display: grid;
    grid-template-columns: 292px 341px;
    gap: 69px;
  }

  &__cancellation {
    margin: 0;

    line-height: 1.7;
  }
}
