@import '../../../assets/scss/var.scss';

.toggle {
  &__element {
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 14px;
    }
  }

  &__label {
    display: block;
    min-height: 20px;
    padding-left: 50px;
    line-height: 1.28;
    color: $button-text;
    user-select: none;
    cursor: pointer;
    transition: color 0.2s;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      box-sizing: border-box;
      width: 40px;
      height: 20px;
      border: 1px solid $border;
      border-radius: 10px;
      transition: border-color 0.2s;
    }

    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      display: block;
      box-sizing: border-box;
      width: 12px;
      height: 12px;
      background-color: $border;
      border-radius: 50%;
      transition: border-color 0.2s, left 0.2s;
    }

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        color: $button-text-hover;

        &::before {
          border-color: $button-border-hover;
        }
      }
    }
  }

  &__input {
    &:checked + .toggle__label {
      color: $button-text-checked;

      &::before {
        border-color: $button-border-checked;
      }

      &::after {
        left: 24px;
        background-image: $gradient-toggle-button;
      }
    }

    &:focus {
      & + .toggle__label {
        text-decoration: underline;
        color: $button-text-hover;
      }

      & + .toggle__label::before {
        border-color: $button-border-hover;
      }
    }
  }
}
