mixin pagination({elements, currentPage})
  - var count= 1
  .pagination
    .pagination__wrapper
      ul.pagination__list
        for element in elements
          if count === currentPage
            - var current= "pagination__link--current"
          else
            - current= ""
          - count++
          li.pagination__li
            a(
              class= ["pagination__link", current],
              href= "/mock-address/change-me"
            )= element
      a.pagination__next-button(
        href= "/mock-address/change-me"
      )
        span.visually-hidden= "Следующая страница"
    p.pagination__footer= "1 – 12 из 100+ вариантов аренды"
