@import '../../../assets/scss/var.scss';

.headers-footers {
  min-height: 100vh;
  background-color: $background-color;

  &__wrapper {
    padding: 140px 0;
  }

  &__block {
    &--short {
      max-width: 768px;
      margin: 0 auto;
    }

    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }

  &__body .content {
    padding-top: 140px;
  }
}
