@import '../../../assets/scss/var.scss';

.headers-footers__body {
  background-color: $background-color;
}

.headers-footers__block {
  &--short {
    max-width: 768px;
    margin: 0 auto;
  }

  &:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.headers-footers__body .content {
  padding-top: 140px;
}
