extends ../../layout/uikit-base/uikit-base

block title
  title Headers &amp; Footers

block content
  .headers-footers
    .headers-footers__block
      block header
        - var current = "О нас"
        include ../../includes/header/header
    .headers-footers__block
      block header
        - var current = "О нас"
        - var isLogin = true
        include ../../includes/header/header
    .headers-footers__block
      block footer
        include ../../includes/footer/footer
    .headers-footers__block(
      class= "headers-footers__block--short"
    )
      block footer
        - var mod = "short"
        include ../../includes/footer/footer
