extends ../../layout/uikit-base/uikit-base

block title
  title Headers &amp; Footers

block content
  .headers-footers
    .headers-footers__block
      block header
        - var current = "О нас"
        include ../../includes/header/header
    .headers-footers__block
    .headers-footers__block
    .headers-footers__block
