extends ../../layout/uikit-base/uikit-base

include ../../includes/header/header
include ../../includes/footer/footer

block title
  title Headers &amp; Footers

block content
  .headers-footers
    .headers-footers__wrapper
      .headers-footers__block
        +header({
          current: "О нас"
        })
      .headers-footers__block
        +header({
          current: "О нас",
          isLogin: true
        })
      .headers-footers__block
        +footer({})
      .headers-footers__block(
        class= "headers-footers__block--short"
      )
        +footer({
          mod: "short"
        })
