extends ../../layout/uikit-base/uikit-base

block title
  title Headers &amp; Footers

block content
  .headers-footers
    .headers-footers__block
    .headers-footers__block
    .headers-footers__block
    .headers-footers__block