@import '../../../assets/scss/var.scss';

.headers-footers {
  &__body {
    background-color: $background-color;
  }

  &__block {
    &--tablet {
      max-width: 768px;
      margin: 0 auto;
    }

    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
}
