@import '../../../assets/scss/var.scss';

.cards {
  display: flex;
  justify-content: space-between;
  max-width: $content-pc;
  gap: 20px;
  padding: 0 40px;
  margin: 0 auto;

  &__body {
    background-color: $background-color;
  }

  &__block {
    width: 380px;

    &:last-of-type {
      width: 320px;
    }
  }

  &__element:not(:last-of-type) {
    margin-bottom: 40px;
  }
}

.cards__body .content {
  padding-top: 150px;
}
