@import '../../../assets/scss/var.scss';

.cards {
  display: flex;
  justify-content: space-between;

  &__body {
    background-color: $background-color;
  }

  &__block {
    width: 380px;

    &:last-of-type {
      width: 320px;
    }
  }

  &__element:not(:last-of-type) {
    margin-bottom: 40px;
  }
}
