extends ../../layout/uikit-base/uikit-base

include ../../includes/search-room/search-room
include ../../includes/registration/registration
include ../../includes/room-cards/room-cards
include ../../includes/login/login
include ../../includes/drop-date/drop-date
include ../../includes/room-preview/room-preview

block title
  title Cards

block content
  .cards
    .cards__block
      .cards__element
        +search-room({
          action: "#"
        })
      .cards__element
        +registration({
          action: "#"
        })
    .cards__block
      .cards__element
        +room-cards({
          number: "888",
          isLuxe: "true",
          price: "9 999",
          action: "#"
        })
      .cards__element
        +login({})
    .cards__block
      .cards__element
        +drop-date({isMultiple: false})
      .cards__element
        +room-preview({})
      .cards__element
        +room-preview({})
