extends ../../layout/uikit-base/uikit-base

block title
  title Colors &amp; Type

block content
  .colors-types
    include ../../includes/colors/colors
    include ../../includes/types/types

  .footer
    a.page-link(href="form-elements.html") Form Elements
    br
    a.page-link(href="cards.html") Cards
    br
    a.page-link(href="headers-footers.html") Headers &amp; Footers
    a.page-link(href="landing.html") Landing Main
    a.page-link(href="room-filter.html") Room Search
