extends ../../layout/uikit-base/uikit-base

block title
  title Main

block content
  .main
    a.main__link(href="colors-type.html") Colors &amp; Type
    a.main__link(href="form-elements.html") Form Elements
    a.main__link(href="cards.html") Cards
    a.main__link(href="headers-footers.html") Headers &amp; Footers
    a.main__link(href="landing.html") Landing Main
    a.main__link(href="room-filter.html") Room Search
    a.main__link(href="room-details.html") Room Details
