extends ../../layout/uikit-base/uikit-base

block title
  title Main

block content
  .main
    ul.main__list
      li.main__li
        a.main__link(href="colors-type.html") Colors &amp; Type
      li.main__li
        a.main__link(href="form-elements.html") Form Elements
      li.main__li
        a.main__link(href="cards.html") Cards
      li.main__li
        a.main__link(href="headers-footers.html") Headers &amp; Footers
      li.main__li
        a.main__link(href="landing.html") Landing Main
      li.main__li
        a.main__link(href="landing-login.html") Login
      li.main__li
        a.main__link(href="landing-registration.html") Registration
      li.main__li
        a.main__link(href="room-filter.html") Room Search
      li.main__li
        a.main__link(href="room-details.html") Room Details
