@import '../../../assets/scss/var.scss';

.checkbox {
  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__element {
    position: relative;

    max-width: 230px;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &__label {
    display: block;
    min-height: 20px;
    padding-left: 30px;

    line-height: 1.28;
    color: $button-text;

    cursor: pointer;

    transition: color 0.2s;

    &::before {
      content: '';
      position: absolute;
      left: 0;

      display: block;
      box-sizing: border-box;
      width: 20px;
      height: 20px;

      border: 1px solid $border;
      border-radius: 4px;

      transition: border-color 0.2s;
    }
  }

  &__input:checked + .checkbox__label {
    color: $button-text-checked;

    &::before {
      border-color: $button-border-checked;
      // Добавить сюда data-картинку svg
      // background-image: url(../svg/check.svg);
      background-repeat: no-repeat;
      background-position: center 2px;
    }
  }
}

/* Hover & Focus */

@media(hover: hover) and (pointer: fine) {
  .checkbox__label:hover {
    color: $button-text-hover;
  }

  .checkbox__label:hover::before {
    border-color: $button-border-hover;
  }
}

.checkbox__input:focus + .checkbox__label {
  color: $button-text-hover;
}

.checkbox__input:focus + .checkbox__label::before {
  border-color: $button-border-hover;
}
