@import '../../../assets/scss/var.scss';

// Dropdown

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

// Title

.dropdown__title {
  margin: 0 0 5px;
  font-family: $main-font;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.1;
  text-transform: uppercase;
  color: $heading;
}

// Drop button

.dropdown__drop-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 9px 15px 10px;
  background-color: transparent;
  border: 1px solid $border;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.7;
  color: $main-text;
  transition: border-color 0.2s;
  cursor: pointer;

  & path {
    transition: fill-opacity 0.2s;
  }

  &.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: $border-active;

    & path {
      fill-opacity: 0.75;
    }
  }
}

// Menu

.dropdown__menu {
  top: 100%;
  z-index: 10;
  padding: 5px 6px 8px 14px;
  width: 100%;
  background-color: white;
  border: 1px solid $border-active;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 10px 20px $shadow-color-calendar;

  &.open {
    z-index: 100;
  }
}

// Element

.dropdown__element {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 7px;
  }
}

// Label

.dropdown__label {
  margin-right: auto;
  color: $heading;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

// Input

.dropdown__input {
  padding: 0;
  margin: 0 0 3px;
  width: 32px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 12px;
  color: $input-number;
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

// Button

.dropdown__button {
  width: 30px;
  height: 30px;
  border: 1px solid $border;
  border-radius: 50%;
  color: $button-text;
  background-color: transparent;
  cursor: pointer;

  &[disabled] {
    opacity: 0.38;
    cursor: auto;
  }
}

// Controls

.dropdown__controls {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 5px;
}

// Button controls

.dropdown__button-ctrl {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.25;
  font-weight: bold;
  text-transform: uppercase;
  color: $button-light;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

[aria-expanded] path {
  fill: currentColor;
}

.dropdown__drop-button[data-open='true'] + .dropdown__menu {
  position: relative;
}

// Overlay

.dropdown__overlay {
  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
}

/* Hover & Focus */

@media (hover: hover) and (pointer: fine) {
  .dropdown__drop-button:hover {
    border-color: $border-active;

    & path {
      fill-opacity: 0.75;
    }
  }
}

.dropdown__drop-button:focus {
  outline: none;
  border-color: $border-active;

  & path {
    fill-opacity: 0.75;
  }
}
