@import '../../../assets/scss/var.scss';

.input-field {
  &__input {
    width: 100%;
    margin: 0;
    padding: 13px 45px 13px 15px;

    border: 1px solid $border;
    border-radius: 4px;

    font-size: 14px;
    line-height: 1.2;

    transition: border-color 0.2s;

    &::placeholder {
      color: $placeholder;
    }
  }
}

/* Hover & Focus */

@media(hover: hover) and (pointer: fine) {
  .input-field__input:hover {
    border-color: $border-active;
  }
}

.input-field__input:focus {
  outline: none;
  border-color: $border-active;
}
