mixin calendar()
  input(
    class= ["calendar", "calendar-multi", "visually-hidden"]
    type= "text"
    data-range= true
    data-multiple-dates-separator= " - "
    data-position= "bottom left"
  )