@import '../../../assets/scss/var.scss';

// Impression

.impression {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

// List

.impression__list {
  padding: 0;
  margin: 0 0 3px 0;
  list-style: none;
}

// List element

.impression__li {
  position: relative;
  padding-left: 15px;

  &::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  &:nth-child(1)::after {
    background-image: $gradient-magnificently;
  }

  &:nth-child(2)::after {
    background-image: $gradient-good;
  }

  &:nth-child(3)::after {
    background-image: $gradient-passably;
  }

  &:nth-child(4)::after {
    background-image: $gradient-disappointed;
  }

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
}
