@import '../../../assets/scss/var.scss';

.room-filter {
  display: grid;
  grid-template-columns: 266px 1fr;
  gap: 60px;
  max-width: $content-pc;
  padding: 0 40px;
  margin: 30px auto 78px;

  &__rooms-title {
    margin: 0 0 22px;

    font-size: 24px;
    letter-spacing: 0.02em;
  }
}
