@import '../../../assets/scss/var.scss';

// Search room

.search-room {
  max-width: 320px;
  margin: 38px auto 29px;

  @media (max-width: 340px) {
    margin-left: 9px;
    margin-right: 9px;
  }
}

// Wrapper

.search-room__wrapper {
  border: 1px solid $cards-border-color;
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0px 0px 25px $cards-shadow-color;
}

// Title

.search-room__title {
  margin: 0 0 24px;
  padding: 0;

  font-size: 24px;
  line-height: 1.22;
  letter-spacing: 0.5px;
}

// Date

.search-room__date {
  margin-bottom: 23px;
}

// Guests

.search-room__guests {
  margin-bottom: 31px;
}
