include ../dropdown/dropdown
include ../drop-date/drop-date
include ../buttons/buttons

mixin search-room({action})
  .search-room
    form.search-room__form(method="GET" action= action)
      h3.search-room__title= "Найдём номера под ваши пожелания"
      .search-room__date
        +drop-date({
          isMultiple: true,
          titleFrom: "прибытие",
          titleTo: "выезд"
        })
      .search-room__guests
        +dropdown({
          title: "Гости",
          label: "Сколько гостей",
          commonDeclension: "Гость, Гостя, Гостей",
          elements: [
            {label: "Взрослые", name: "adult", min: "0", max: "10"},
            {label: "Дети", name: "children", min: "0"},
            {label: "Младенцы", name: "baby", min: "0"}
          ]
        })
      .search-room__button
        +buttons({
          type: "link",
          link: "room-filter.html",
          label: "подобрать номер",
          modify: ["large"]
        })
