@import '../../../assets/scss/var.scss';

// Types

.types {
  display: flex;
  flex-direction: column;
  max-width: 436px;
  margin: 0;
  padding: 0;
  list-style: none;
}

// Element

.types__element {
  display: flex;
  align-items: baseline;
  margin-bottom: 51px;

  &:last-child {
    margin-bottom: 0;
  }

  &--h1 {
    font-size: 24px;
  }

  &--h2 {
    font-size: 19px;
  }

  &--h3 {
    font-size: 12px;
    line-height: 1.25;
  }

  &--body {
    font-size: 14px;
    line-height: 1.7;
  }

  &--body .types__lorem {
    font-weight: normal;
    color: $main-text;
  }

  &--h3 .types__lorem {
    text-transform: uppercase;
  }

  &--body .types__lorem {
    line-height: 1.5;
  }
}

// Names

.types__names {
  flex-shrink: 0;
  width: 37px;
  margin: 0 30px 0 0;
  line-height: 1.22;
  color: $dark-shade-25;
  text-align: right;
}

// Lorem

.types__lorem {
  line-height: 1.25;
  font-weight: bold;
  color: $heading;
}

.types__element:last-child .types__lorem {
  max-width: 310px;
}
