include ../type-element/type-element

mixin types({values})
  ul.types
    each val in values
      li.types__element
        +type-element({
          name: val.name,
          description: val.description,
          mod: val.mod
        })