@import '../../../assets/scss/var.scss';

.types {
  display: flex;
  flex-direction: column;
  width: 436px;
  margin: 0 8px 0 0;
  padding: 0;

  list-style: none;

  &__element {
    display: flex;
    align-items: baseline;
    margin-bottom: 52px;

    &:last-child {
      margin-bottom: 0;
    }

    &--h1 {
      font-size: 24px;
    }

    &--h2 {
      font-size: 19px;
    }

    &--h3 {
      font-size: 12px;
      line-height: 1.25;
    }

    &--body {
      width: 370px;

      font-size: 14px;
      line-height: 1.7;
    }

    &--body .types__lorem {
      font-weight: normal;
      color: $main-text;
    }

    &--h3 .types__lorem {
      text-transform: uppercase;
    }
  }

  &__names {
    flex-shrink: 0;
    width: 37px;
    margin: 0 30px 0 0;

    line-height: 1.2;
    color: $dark-shade-25;
    text-align: right;
  }

  &__lorem {
    line-height: 1.23;
    font-weight: bold;
    color: $heading;
  }

  &__element--body .types__lorem {
    line-height: 1.5;
  }
}
