@import '../../../assets/scss/var.scss';

// Landing

.landing {
  display: flex;
  max-width: $body;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100%;
  min-height: 830px;
  background-image: url(img/title.jpg);
}

// Wrapper

.landing__wrapper {
  position: relative;
  width: 100%;
  max-width: $content-pc;
  padding: 0 40px;
  margin: 70px auto 20px;

  @media (max-width: 460px) {
    padding: 0;
  }
}

// Title

.landing__title {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  margin: 0 40px 0 0;
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.7;
  font-weight: normal;
  text-align: right;
  color: $main-text;
}

// Search

.landing__search {
  max-width: 380px;

  @media (max-width: 650px) {
    margin: 0 auto;
  }
}
