extends ../../layout/landing-base/landing-base
include ../../includes/login/login

block title
  title Toxin

block content
  h1.visually-hidden= "Toxin - сайт по бронированию номеров в лучшем отеле"
  section.landing-login
    .landing-login__wrapper
      h2.visually-hidden= "Форма входа на сайт"
      +login({})