@import '../../../assets/scss/var.scss';

.landing-login {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $body;
  min-height: 702px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(img/login-title.jpg);
  background-size: cover;

  @media (max-width: 980px) {
    min-height: 480px;
  }

  @media (max-width: 740px) {
    min-height: 380px;
  }

  &__wrapper {
    width: 100%;
    max-width: 380px;
  }
}
